$widthCenter: 1200px;
$fontText: 'Jost', sans-serif;
$colorTitle: #292F36;
$colorTxt: #4D5053;
.bunner {
    margin-bottom: 200px;
    &__img {
        position: relative;
        width: 100%;
        background-size: cover;
    }
    &__content {
        position: absolute;
        top: 179px;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 41px 78px;
        text-align: center;
        background: #fff;
        border-radius: 37px 37px 0 0;
        &_title {
            font-size: 50px;
            line-height: 62.5px;
        }
        &_txt {
            color: $colorTxt;
            font-family: $fontText;
            font-size: 22px;
            line-height: 33px;
            letter-spacing: 0.22px;
        }
    }
}
.blog {
    &__latest-post {
        margin-bottom: 150px;
        &_title {
            margin-bottom: 27px;
            font-size: 50px;
            line-height: 62.5px;
            letter-spacing: 1px;
        }
    }
    &__latest-post-wrp {
        display: flex;
        gap: 65px;
        padding: 22px;
        border: 1px solid #E7E7E7;
        border-radius: 62px;
    }
    &__latest-post-img {
        border-radius: 50px;
    }
    &__latest-post-content {
        margin: 51px 34px 52px 0;
        &_title {
            margin-bottom: 22px;
            font-size: 25px;
            line-height: 31.25px;
            letter-spacing: 0.5px;
        }
        &_txt {
            color: $colorTxt;
            font-family: $fontText;
            font-size: 22px;
            line-height: 33px;
            letter-spacing: 0.22px;
        }
        &_description {
            margin-bottom: 41px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 469px;
            min-height: 198px;
        }
        &_date {
            display: flex;
            justify-content: space-between;
        }
        &_date-txt {
            color: $colorTxt;
            font-family: $fontText;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.16px;
            text-transform: capitalize;
        }
    }
    &__news {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__news-wrp {
        display: flex;
        justify-content: space-between;
    }
    &__pagination {
        margin: 51px auto 200px auto;
        display: flex;
        gap: 20px;        
    }
    &__pagination-svg {
        &_circle {
            stroke: #CDA274;
            fill: #fff;
        }
        &_fill {
            fill: #292F36;
        }
        &_path {
            stroke: #292F36;
        }
        &_circle:hover {
            stroke: none;
            fill: #F4F0EC;
        }
        &_circle:active {
            stroke: #CDA274;
            fill: #fff;
        }
    }
    
}
